/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

.flex{
    display: flex;
}

.img{
    width: 100%;
    display: block;
}


/* MAIN */
body{
    background-color: lightgreen;
}

.movie-container{
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.single-movie{
    width: calc((100% / 3) - 10px);
    height: 600px;
    overflow-y: scroll;
    margin: 20px;
    text-align: center;
    background-color: lightgray;
    padding: 10px 10px;

}

.single-movie div:first-child {
    padding: 10px;
}


.poster{
    width: 200px;
}

.title, .genre, .year, .description, .rating{
    padding: 20px 30px;
}